<div class="container">

  <ngb-datepicker
    #dp [(ngModel)]="model"
    (navigate)="date = $event.next"
    (click)="getProducts()"
  ></ngb-datepicker>

  <hr class="mt-5 mb-5"/>

  <div class="row">
    <div class="col">
      <h3>Products :</h3>
    </div>
  </div>
  <div class="row justify-content-around mt-3">
    <div class="col-4 d-flex flex-wrap justify-content-between">
      <app-product-card
        *ngFor="let result of results"
        class="mb-5"
        [nameProduct]="result.node.name"
        [descriptionProduct]="result.node.tagline"
        [urlProduct]="result.node.url"
      ></app-product-card>
    </div>
    <div class="col-8">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="categories"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        >
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>




